[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.1.1"
requests = "==2.22.0"
gunicorn = "==19.9.0"
tldextract = "==2.2.2"

[dev-packages]
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.7"

[packages.recipe-scrapers]
git = "https://github.com/openculinary/recipe-scrapers.git"
ref = "partial-image-change-revert"
