[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.1.1"
gunicorn = "==20.0.4"
recipe-scrapers = "==5.3.0"
requests = "==2.22.0"
tldextract = "==2.2.2"

[dev-packages]
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.7"
